.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/detections
/data/processed/averaged_models/
/data/datos_metereologicos/
/data/processed/data_and_model_random_forest_0.38_threshold.RDS
/data/processed/data_and_model_random_forest_0.43_threshold.RDS
/data/processed/data_and_model_random_forest_0.38_threshold_only_spectro_parameters.RDS
/data/processed/data_and_model_random_forest_0.43_threshold_only_spectro_parameters.RDS
/data/processed/template_correlations_all_data.RDS
/data/processed/template_correlations_4_templates.RDS
/data/processed/template_correlations_4_templates_mel_spectros.RDS
/data/processed/template_detections_all_data.RDS
/data/processed/template_detections_chimu_data.RDS
/data/processed/template_detections_sukia_data.RDS
/scripts/cross_correlation_vectors_manually_selected_5min_segments.RDS
